.headerSN{
    background-color: black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 7px solid #D4AF37;
    font-size: 48px;
  }