# Ignorar archivos y carpetas de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignorar entornos virtuales
venv/
env/

# Ignorar configuraciones de IDEs
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
